openapi: 3.0.3
info:
  title: Radar Events Geocoding API
  description: Use Radar APIs as building blocks for location-based products and services like pickup and delivery tracking, location-triggered notifications, location verification, store locators, address autocomplete, and more. Or, use Radar APIs to manage your Radar data, including users, geofences, and events.
  version: '1.0'
  contact:
    name: Radar
    url: https://radar.com/documentation/api
servers:
- url: https://api.radar.io/v1
  description: Radar production API
security:
- ApiKeyAuth: []
tags:
- name: Geocoding
  description: Forward, reverse, and IP geocoding
paths:
  /geocode/forward:
    get:
      tags:
      - Geocoding
      summary: Forward geocode an address
      parameters:
      - name: query
        in: query
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Forward geocode results
  /geocode/reverse:
    get:
      tags:
      - Geocoding
      summary: Reverse geocode coordinates
      parameters:
      - name: coordinates
        in: query
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Reverse geocode results
  /geocode/ip:
    get:
      tags:
      - Geocoding
      summary: IP geocode
      responses:
        '200':
          description: IP geocode result
components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: Authorization
