openapi: 3.0.3
info:
  title: Radar Events Users API
  description: Use Radar APIs as building blocks for location-based products and services like pickup and delivery tracking, location-triggered notifications, location verification, store locators, address autocomplete, and more. Or, use Radar APIs to manage your Radar data, including users, geofences, and events.
  version: '1.0'
  contact:
    name: Radar
    url: https://radar.com/documentation/api
servers:
- url: https://api.radar.io/v1
  description: Radar production API
security:
- ApiKeyAuth: []
tags:
- name: Users
  description: Manage user records
paths:
  /users:
    get:
      tags:
      - Users
      summary: List users
      responses:
        '200':
          description: List of users
  /users/{userId}:
    get:
      tags:
      - Users
      summary: Retrieve a user
      parameters:
      - name: userId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: User record
    put:
      tags:
      - Users
      summary: Update a user
      parameters:
      - name: userId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Updated user
    delete:
      tags:
      - Users
      summary: Delete a user
      parameters:
      - name: userId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Deleted
components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: Authorization
