openapi: 3.0.3
info:
  title: Radar Events Geofences API
  description: Use Radar APIs as building blocks for location-based products and services like pickup and delivery tracking, location-triggered notifications, location verification, store locators, address autocomplete, and more. Or, use Radar APIs to manage your Radar data, including users, geofences, and events.
  version: '1.0'
  contact:
    name: Radar
    url: https://radar.com/documentation/api
servers:
- url: https://api.radar.io/v1
  description: Radar production API
security:
- ApiKeyAuth: []
tags:
- name: Geofences
  description: Manage geographic boundaries
paths:
  /geofences:
    get:
      tags:
      - Geofences
      summary: List geofences
      responses:
        '200':
          description: List of geofences
    post:
      tags:
      - Geofences
      summary: Create a geofence
      responses:
        '200':
          description: Created geofence
  /geofences/{geofenceId}:
    get:
      tags:
      - Geofences
      summary: Retrieve a geofence
      parameters:
      - name: geofenceId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Geofence
    put:
      tags:
      - Geofences
      summary: Update a geofence
      parameters:
      - name: geofenceId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Updated geofence
    delete:
      tags:
      - Geofences
      summary: Delete a geofence
      parameters:
      - name: geofenceId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Deleted
components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: Authorization
